<!DOCTYPE HTML>
<html>
<head>
  <title>Task Buddy</title>
</head>
<body>
<h1>So you would like to add a task?</h1><br>
<form action="/" method="post">
  <div>
    <label for="name">Task: </label>
    <input type="text" id="task" name="task"/>
  </div>
  <div>
    <button type="submit">Create Task</button>
  </div>
</form>
</body>
</html>